@import url('./../css/fonts.css');
:root{
  --purple-100: hsl(254, 88%, 90%);
--purple-500: hsl(256, 67%, 59%);

--yellow-100: hsl(31, 66%, 93%);
--yellow-500: hsl(39, 100%, 71%);

--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 7%);
--body-background: #F5F5F5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-background);
  font-size: 18px;

}


h1, h2, h3, h4, h5, h6, p {
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 28px;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 45px;

}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}

p{
  font-weight: 400;
  font-size: 16px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.accent--purple {
  color: var(--purple-500);
}
.accent--yellow {
  color: var(--yellow-500);
}

.container {
  display: grid;
  grid-template-columns: repeat(4,minmax(180px,1fr)) ;
  grid-template-rows: repeat(10,minmax(45px,1fr));
  gap: 1.4rem;
  width: 60vw;
  margin: 50px auto;
  max-height: 70vh;
}

.card-1{
  background-color: var(--yellow-100);
  grid-row: 1/6;
  grid-column: 1/2;
  justify-content: center;
}

.card-2{
  background-color: var(--purple-500);
  color: var(--white);
  grid-column: 2/4;
  grid-row: 1/5;
  display: flex;
  justify-content: center;
}

.card-3{
  background-color: var(--purple-100);
  grid-row: 1/8;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  line-height: 10px;

}
.card-4{
  grid-row: 6/11;
  grid-column: 1/2;
  background-color: var(--yellow-500);
  justify-content: space-between;
}
.card-5{
  background-color: var(--white);
  grid-column: 2/3;
  grid-row: 5/8;
  line-height: 10px;
  justify-content: space-evenly;
}
.card-6{
  background-color: var(--yellow-500);
  grid-column: 3/4;
  grid-row: 5/8;

}
.card-7{
  grid-area: card-7;
  background-color: var(--white);
  grid-column: 2/3;
  grid-row: 8/11;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
.card-8{
  background-color: var(--purple-500);
  grid-column: 3/-1;
  grid-row: 8/11;
  color: var(--white);
  flex-direction: row;
  justify-content: space-evenly;
}

.attribution {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.illustration{
  margin-top: 20px;
}


.card-1--illustration {
  width: 80%;
}
.card-2--illustration {
  width: 35%;
}

.card-2--title {
  text-align: center; 
}

.card-2--subtitle {
  font-style: italic;
}

.card-3--illustration {
  width: 150%;
  align-self: flex-start;
  margin-bottom: 20px;
}
.card-4--illustration {
  align-self: flex-end;
}


.card-5--illustration {
  width: 148%;
  align-self: flex-start;
  margin-bottom: 10px;
}
.card-5--title,
.card-6--title,
.card-3--title
 {
  line-height: 22px;
}

.card-3--text {
  line-height: 18px;
}

.card-6--illustration {
  margin-top: 10px;
}

.card-7--title {
  font-size: 48px;
}
.card-7--subtitle {
  margin-top: 15px;
  letter-spacing:normal;
  line-height: 15px;
  white-space: nowrap;
}

.card-7--illustration {
  width: 70%;
  margin-bottom: 10px;
}

.card-8--illustration {
  padding: 20px;
}

.card-8--title {
  font-size: 32px;
}